.shortcate-section-container{
    background-color: black;
    height: 20vh;
    box-sizing: border-box;
    padding: 10% 5%;    
    max-height: 70vh; /* 화면의 70%까지 내용 표시 */
    overflow-y: auto; /* 세로 스크롤 가능하게 설정 */
}
.shortcate-header {
    display: flex;
    align-items: center;  /* 요소 세로 정렬 */
    justify-content: space-between; /* 좌우 정렬 */
}

.back-button {
    width: 24px;  /* 백버튼 크기 조절 */
    height: 24px;
    cursor: pointer;
    filter: brightness(0) invert(1); /* 흰색 이미지일 경우 */

    
}

.shortcate-header h3 {
    flex-grow: 1; /* 제목이 가운데 정렬되도록 */
    text-align: center;
    color: whitesmoke;
    font-size: 1rem;
}



/* 🔍 검색창 스타일 */
.search-container {
    width: 100%;
    text-align: center;
  }
  
  .search-input {
    width: 90%;
    flex: 1;
    padding: 10px;
    height: 30px;
    text-indent: 4%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    margin-top: 10px;
  }

  

.shortcate-container{
    width: 90%;
    box-sizing: border-box;
}

.shortcate-title{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 1.2rem;
    color: gray;
}

.shortcate-item .question{
    font-size: 1.1rem;
    font-weight: bold;
}

.item-divider{
    margin-top: 5%;
    margin-bottom: 5%;
}